/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated

*.js      text eol=lf
*.ts      text eol=lf
*.json    text eol=lf
*.yml     text eol=lf

# Windows 배치 파일 및 PowerShell 스크립트는 CRLF로 고정
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
